<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <title>Jogo do Lance Mínimo Único</title>
      <link rel = "icon" href="/static/coin.png" type = "image/x-icon">
   </head>
   <body>
   <!-- Navbar here -->
    <nav class="navbar navbar-light navbar-expand-md justify-content-md-center justify-content-start" style="background-color: rgb(58, 102, 102);">
      <div class="navbar-collapse collapse justify-content-between align-items-center w-100">
         <ul class="navbar-nav mx-auto text-md-center text-left">
            <li class="nav-item p-0">
               <a class="navbar-brand" style="color:gold; font-size: 25px !important; margin:auto;" href="{{url_for('home')}}"><b>LANCE</b>
               <img src="{{url_for('static', filename='ezgif.com-gif-maker.gif')}}" alt="coin" width="30" height="30" style="margin-top:-5px;">
               <b>MÍNIMO</b>
               </a>
            </li>
         </ul>
      </div>
      
    </nav>
   <div class="position-relative overflow-hidden p-5 p-md-5 m-md-3 text-center" style="color:white;background-color: rgba(58, 104, 104, 0.50); ">
      {%block content%}

      {%endblock%}
   </div>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   </body>
   <style>
      body {
        background-color:#aab7ce;
        color: white
      }
      li{
         padding:10px;
      }
   </style>
</html>