{% extends 'navbar.html' %}

{%block content%}
    <div>
        <div style="margin-top:-15px;">
            <h1 style="color: gold;" class="h1"><b>Bem-vindo ao jogo do lance mínimo!</b></h1>
            <p style="color: gold" class="h5"> Leia as regras abaixo antes de continuar</p>
        </div>

        <div style="background-color:rgba(58, 104, 104, 0.70); margin: 0 auto; width: 60%; margin-bottom:20px;">
            <h1 class="display-5 font-weight-normal py-3" style="border-bottom:1px solid white; padding-bottom:10px; width:80%; margin: 0 auto; margin-top:30px;">Regras</h1>
            <div class="p-3">
                <ol style="width:100%; text-align:center; margin:0 auto;">
                    <li>
                        <span class="lead font-weight-normal">O usuário que der o menor lance e que seja único ganha.</span>
                    </li>
                        
                    <li>
                        <span class="lead font-weight-normal">O usuário poderá fazer quantos lances quiser por rodada.</span> 
                    </li>

                    <li>
                        <span class="lead font-weight-normal">Em cada rodada poderá ser feita até 10 lances.</span> 
                    </li>
                            
                    <li>
                        <span class="lead font-weight-normal">A rodada terminará quando o máximo de lances for atingido.</span> 
                    </li>


                </ol>
            </div>
        </div>
        <a class="btn btn-primary" href="{{ url_for('tela_lances') }}">Eu entendo e desejo continuar</a>
    </div>

{%endblock%}

<script type="text/javascript">
    const intervalID = setInterval(update_values, 1000);
    function update_values() {
      $.getJSON(
        $SCRIPT_ROOT + "/timer",
        data => {
          $("#timer").text(data.result);
          if (data.result === "0:00:00") {
            clearInterval(intervalID);
            window.location.replace($SCRIPT_ROOT + '/lances');
          }
        }
      )
    }
  </script>